.card{
    border: 2px solid black;
    margin-top: 70px;
    margin-left: 530px;
    padding: 30px;
    height: 500px;
    width: 400px;
    background-color: rgb(75, 77, 75);
    text-align: center;
    border-radius: 20px;
    color: rgb(222, 218, 214);
}

.card > img{
    border-radius: 20px;
}

button{
    margin-top: 20px;
    border-radius: 5px;
    padding: 6px 20px;
    background-color: rgb(222, 218, 214);
}

a{
    color: rgb(75, 77, 75);
}

